<footer class="page-footer blue-grey darken-1">
	<div class="container">
		<div class="row">
			<div class="col l3 s12">
				<h5 class="white-text">About</h5>
				<ul>
					<li><a class="white-text" href="https://github.com/Barnard/barnardhistory.org">Source Code</a></li>
					<li><a class="white-text" href="/documentation">Documentation</a></li>
					<li><a class="white-text" href="#!">Contact Us</a></li>

				</ul>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Partners</h5>
				<ul>
					<li><a class="white-text" href="https://barnard.edu">Barnard College</a></li>
					<li><a class="white-text" href="https://columbia.edu">Columbia University</a></li>
					<li><a class="white-text" href="http://pedal.tech">Pedal</a></li>
					<li><a class="white-text" href="https://peter.net">Peter Richards</a></li>
				</ul>
			</div>
			<div class="col l6 s12">
				<h5 class="white-text">Barnard History</h5>
				<p class="grey-text text-lighten-4">Interactive Institutional History of Barnard College in New York City. Based upon the work of Professor Robert A. McCaughey and a dedicated team of students.</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
		</div>
	</div>
</footer>
